body {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    width: 296px;

    align-items: center;
    margin: 2px;
    /* margin-top: 25px; */


    /* border-radius: 25px; */
    background-image: linear-gradient(135deg, rgba(12, 12, 12, 0.897), rgba(118, 83, 83, 0.024));

}

.box {
    width: 268px;
    height: 263px;
    /* margin: 200px auto; */
    padding: 10px;

}

.glass {
    background: linear-gradient(135deg, rgba(15, 14, 14, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
}

p {
    font-size: 14px;
}

.analyze-button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 16px;
    padding: 12px 12px;
    margin: 8px 0px 8px 0px;
    border-radius: 20px;
    border: 1px solid rgb(157, 180, 180);
    width: 100%;
    transition: background-color 0.2s ease;
    color: #FFFFFF;
}

.fb {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 16px;
    padding: 12px 12px;
    margin: 8px 0px 8px 0px;
    border-radius: 20px;
    border: 1px solid rgb(157, 180, 180);
    width: 100%;
    transition: background-color 0.2s ease;
    color: #FFFFFF;
}


button:active {
background-color: rgba(60,154,154,0.928);
border-radius: 20px;}


a:link,
a:visited,
a:hover,
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

button:hover {
    box-shadow: 0 0 5px rgb(157, 180, 180),
        0 0 25px rgb(157, 180, 180),
        0 0 50px rgb(157, 180, 180),
        0 0 100px rgb(157, 180, 180),
        0 0 200px rgb(157, 180, 180);
}

.modal-header {
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 3px;
}

.modal-content {
    padding: 0px 16px 0px 16px;
}

.modal-footer {
    text-align: center;
    font-size: 12px;
    padding: 3px 3px 8px 3px;
}

.container {
    background-color: rgba(214,204,204, 0.3);
    margin: 8px 0px 8px 0px;
    padding: 6px 14px 6px 14px;
    border-radius: 20px;
    border: 1px solid linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    text-align: center;
    margin: auto;

}

.container p {
    margin: 0px;
}

.label {
    color: #cac8c8;
    margin: 0px;
    font-weight: 150;
}

.number,
.total-number {
    color: #FFFFFF;
    font-size: 32px;
}

.modal-footer a {
    color: #D8D8D8;
}